.navbar-default {
  background-color: #4caf50;
  border-color: #087f23;
  border-radius: 0px;
}

.navbar-default.navbar-brand,
.navbar-default.navbar-brand:hover,
.navbar-default.navbar-brand:focus {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

.nav.navbar-nav>li>a {
  color: #fff;
}

.nav.navbar-nav>li>a:hover,
.nav.navbar-nav>li>a:focus {
  background-color: #087f23;
  /*color: #fff;*/
}

.navbar-default.navbar-nav>.active>a,
.navbar-default.navbar-nav>.active>a:hover,
.navbar-default.navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #087f23;
}

.navbar-default.navbar-text {
  color: #fff;
}
.navbar-default.navbar-toggle {
  background-color: #087f23;
}
