.padding {
  padding: 10px;
}

.margin {
  margin-right: 8px;
  margin-bottom: 3px;
}

.image-section
{
  background: url('macbook.png') no-repeat center center fixed;
  background-size: cover;
  padding: 10px;
}

.btn-submit {
  background-color: #087f23;
  color:white;
}

.btn-submit:hover
{
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 2px 2px #087f23;
  border: 1px solid #087f23;
  background-color: white;
  color: #087f23;
}

.btn-submit:focus
{
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transform: translateY(2px);
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.header-font {
  font-style: oblique;
  font-family: Georgia, serif;
}

.text-font{
font-family: Noto, Roboto;
}

#sign-up
{

  width: 504px;
  background-color: rgba(59, 89, 152, 0.5);
  border-top: 3px solid lightgrey;
  border-left: 3px solid lightgrey;
  border-right: 3px solid lightgrey;;
  padding: 10px;
  border-radius: 10px;
}

 .headline
{
  text-align: center;
  color: white;
}

#confirm-user
{

  width: 504px;
  margin-top: -26px;
  background-color: rgba(34, 139, 34, 0.5);
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  padding: 15px;
  border-radius: 10px;
}

.professional-networking
{
	width: 200px;
	height: 250px;
	margin-top: 200px;
	background: url('macbook.png') no-repeat center;
	 background-size: cover; 
	border: 2px solid white;
	border-radius: 2px;
}

.description
{
	padding: 10px;
	height: 400px;
	width: 1050px;
	margin: 100px auto;
	text-align: center;
	border:2px solid forestgreen;
}

.col-md-12 > h1
{
	text-align: center;
	text-decoration: underline;
	text-decoration-color: limegreen;
	color: darkgreen;
	text-shadow: 2px 2px skyblue;
}

.col-md-12 > p
{
	margin: 50px;
	text-align: center;
}
