.navbar-brand {
  color: white;
}

.padding {
  padding: 10px;
}

.log-in {
  background-color:#087f23;
  color:white;
}

.btn-submit {
  background-color: #087f23;
  color: white;
}
